.header {
    padding: 30px;
    text-align: center;
    background: linear-gradient(#000000, #ffffff);
    color: rgb(255, 255, 255);
    font-size: 15px;
  }

h1 {
    font-family: 'Megrim', Arial, Helvetica, sans-serif;
}


ol {
    padding-top: 2rem;
    padding-left: 3rem;
}  

/* external css: flickity.css */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body { font-family: sans-serif; }
  
  .gallery {
    background: #EEE;
  }
  
  .gallery-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    counter-increment: gallery-cell;
  }
  
  /* cell number */
  .gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  }
  