.header {
    padding: 30px;
    text-align: center;
    background: linear-gradient(#000000, #ffffff);
    color: rgb(255, 255, 255);
    font-size: 15px;
  }

h1 {
    font-family: Arial, Helvetica, sans-serif;
}


ol {
    padding-top: 2rem;
    padding-left: 3rem;
}  

