  .parent {
        position: relative;
        background: rgb(255, 255, 255);
        margin: auto;
        height: 100%;
        width: 56.25%;
        border: 20px, black;
        display: flex;  
     justify-content: center;  
     align-items: center;  
    }   
  
  .child {
    background: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: .5px;
    height: 71.428571%;
    width: 71.428571%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    }

  .child2 {
    background: rgb(255, 255, 255);
    border-color: rgb(168, 168, 168);
    border-style: solid;
    border-width: .25px;
    height: 42.857143%;
    width: 42.857143%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
     }

  .child3 {
    background: rgb(114, 114, 114);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: .5cm;
    height: 42.857143%;
    justify-content: space-between; 
    }

