.parent {
  background: rgb(255, 255, 255);
  margin: auto;
  height: 100%;
  width: 100%;
  border: 20px, black;  
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}   

.child {
display: flex; 
background: rgb(255, 255, 255);
border-color: rgb(0, 0, 0);
border-style: solid;
border-width: .5px;
height: 71.428571%;
width: 71.428571%;
position: absolute;
}

.child2 {
display: flex; 
background: rgb(255, 255, 255);
border-color: rgb(168, 168, 168);
border-style: solid;
border-width: .25px;
height: 42.857143%;
width: 42.857143%;
position: absolute;
 }

.child3 {
display: flex; 
background: rgb(0, 0, 0);
width: 1.86335404%;
height: 42.857143%;
position: relative;
justify-content: space-between;
}

.child4 {
  display: flex; 
  background: rgb(255, 255, 255);
  width: 1.86335404%;
  height: 42.857143%;
  position: relative;
  justify-content: space-between;
  }

.parent1-5 {
  margin: auto;
  height: 14.285714%;
  width: 16%; 
  position: absolute;
  display: flex;
}

.white1 {
  display: flex; 
    height: 100%;
    width: 10%;
    position: relative;
    --mask:
    radial-gradient(29.09px at calc(100% + 9.80px) 50%,#0000 calc(99% - 24px),#000 calc(101% - 24px) 99%,#0000 101%) calc(50% - 19px + .5px) calc(50% - 28px)/ 38px 56px  repeat-y,
    radial-gradient(29.09px at -9.8px 50%,#0000 calc(99% - 24px),#000 calc(101% - 24px) 99%,#0000 101%) calc(50% + 19px) 50%/38px 56px  repeat-y;
  -webkit-mask: var(--mask);
          mask: var(--mask);
    }

  .child5 {
    display: flex; 
    background: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    position: relative;
    --mask:
    radial-gradient(29.09px at calc(100% + 9.80px) 50%,#0000 calc(99% - 24px),#000 calc(101% - 24px) 99%,#0000 101%) calc(50% - 19px + .5px) calc(50% - 28px)/ 38px 56px  repeat-y,
    radial-gradient(29.09px at -9.8px 50%,#0000 calc(99% - 24px),#000 calc(101% - 24px) 99%,#0000 101%) calc(50% + 19px) 50%/38px 56px  repeat-y;
  -webkit-mask: var(--mask);
          mask: var(--mask);
    }

    .parent2 {
      margin: auto;
      height: 42.857143%;
      width: 44%; 
      position: absolute;
      display: flex;
    }

    .child6 {
    display: flex; 
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);
    position: relative;
    --mask:
    radial-gradient(29.09px at calc(100% + 9.80px) 50%,#0000 calc(99% - 24px),#000 calc(101% - 24px) 99%,#0000 101%) calc(50% - 19px + .5px) calc(50% - 28px)/ 38px 56px  repeat-y,
    radial-gradient(29.09px at -9.8px 50%,#0000 calc(99% - 24px),#000 calc(101% - 24px) 99%,#0000 101%) calc(50% + 19px) 50%/38px 56px  repeat-y;
  -webkit-mask: var(--mask);
          mask: var(--mask);
    }

    .child7 {
      display: flex; 
    background: rgb(255, 255, 255);
    height: 100%;
    width: 30%;
    position: relative;
    --mask:
    radial-gradient(29.59px at calc(100% + 9.80px) 50%,#0000 calc(99% - 25px),#000 calc(101% - 25px) 99%,#0000 101%) calc(50% - 19.5px + .5px) calc(50% - 28px)/ 39px 56px  repeat-y,
    radial-gradient(29.59px at -9.8px 50%,#0000 calc(99% - 25px),#000 calc(101% - 25px) 99%,#0000 101%) calc(50% + 19.5px) 50%/39px 56px  repeat-y;
  -webkit-mask: var(--mask);
          mask: var(--mask);
    }


  