.parent {
  background: rgb(255, 255, 255);
  margin: auto;
  height: 100%;
  width: 100%;
  border: 20px, black;  
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}   

.child {
display: flex; 
background: rgb(255, 255, 255);
border-color: rgb(0, 0, 0);
border-style: solid;
border-width: .5px;
height: 71.428571%;
width: 71.428571%;
position: absolute;
}

.child2 {
display: flex;
height: 42.857143%;
width: 42.857143%;
position: absolute;
}

.colorbox {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas:
  "box1 box2 box3"
  "box4 box5 box6"
  "box7 box7 box9"
}

.box1 {
  background:#d0e6e0;
  grid-area: "box1";
}

.box2 {
background: #d0e6e0;
grid-area: "box2";
}

.box3 {
  background: #ffffff;
  grid-area: "box3";
}

.box4 {
  background: #d0e6e0;
  grid-area: "box4";
}

.box5 {
  background: #d4dfed;
  grid-area: "box5";
}

.box6 {
  background: #d33832;
  grid-area: "box6";
}

.box7 {
  background: #ffffff;
  grid-area: "box7";
}

.box8 {
  background: #d33832;
  grid-area: "box8";
}

.box9 {
  background:#d33832;
  grid-area: "box9";
}

 